Repository OpenLoco/OpenLoco, pull requests merged in 2022-07, with the labels that each got.

#1564 Update en-US.yml with color
  data/language/en-US.yml
Labels: localisation

#1566 Wrap string
  src/OpenLoco/Graphics/Gfx.cpp
  src/OpenLoco/Graphics/Gfx.h
  src/OpenLoco/Localisation/StringManager.h
Labels: pending review

#1580 Use correct return types for fn_FindNextFile
  CHANGELOG.md
  src/OpenLoco/Interop/Hooks.cpp
Labels: changelog

#1584 Fix #1583: Newspaper text line height is wrong
  CHANGELOG.md
  src/OpenLoco/Graphics/Gfx.cpp
Labels: pending review, changelog
