Repository OpenLoco/OpenLoco, pull requests merged in 2022-09, with the labels that each got.

#1629 code style for windowSize
  src/OpenLoco/Windows/About.cpp
  src/OpenLoco/Windows/AboutMusic.cpp
  src/OpenLoco/Windows/BuildVehicle.cpp
  src/OpenLoco/Windows/Cheats.cpp
  src/OpenLoco/Windows/CompanyFaceSelection.cpp
  src/OpenLoco/Windows/CompanyList.cpp
  src/OpenLoco/Windows/CompanyWindow.cpp
  src/OpenLoco/Windows/Construction/Common.cpp
  src/OpenLoco/Windows/Construction/Construction.h
  src/OpenLoco/Windows/EditKeyboardShortcut.cpp
  src/OpenLoco/Windows/IndustryList.cpp
  src/OpenLoco/Windows/IndustryWindow.cpp
  src/OpenLoco/Windows/LandscapeGenerationConfirm.cpp
  src/OpenLoco/Windows/MessageWindow.cpp
  src/OpenLoco/Windows/MusicSelection.cpp
  src/OpenLoco/Windows/NetworkStatus.cpp
  src/OpenLoco/Windows/News/Common.cpp
  src/OpenLoco/Windows/News/News.cpp
  src/OpenLoco/Windows/News/News.h
  src/OpenLoco/Windows/News/Ticker.cpp
  src/OpenLoco/Windows/ObjectSelectionWindow.cpp
  src/OpenLoco/Windows/Options.cpp
  src/OpenLoco/Windows/PlayerInfoPanel.cpp
  src/OpenLoco/Windows/ProgressBar.cpp
  src/OpenLoco/Windows/ScenarioSelect.cpp
  src/OpenLoco/Windows/StationWindow.cpp
  src/OpenLoco/Windows/TerraForm.cpp
  src/OpenLoco/Windows/TileInspector.cpp
  src/OpenLoco/Windows/TimePanel.cpp
  src/OpenLoco/Windows/TitleExit.cpp
  src/OpenLoco/Windows/TitleLogo.cpp
  src/OpenLoco/Windows/TitleOptions.cpp
  src/OpenLoco/Windows/TownList.cpp
  src/OpenLoco/Windows/TownWindow.cpp
  src/OpenLoco/Windows/Tutorial.cpp
  src/OpenLoco/Windows/Vehicle.cpp
  src/OpenLoco/Windows/VehicleList.cpp
Labels: pending review, refactor

#1641 Yet another wrap string issue fixed.
  src/OpenLoco/Graphics/Gfx.cpp
Labels: bug

#1655 Fix Vehicle Crash for Acquire Assets cheat.
  CHANGELOG.md
  src/OpenLoco/GameCommands/Cheat.cpp
Labels: changelog

#1623 combine title and bgm audio channels, implement Title::stop
  CHANGELOG.md
  src/OpenLoco/Audio/Audio.cpp
  src/OpenLoco/Audio/Audio.h
  src/OpenLoco/Game.cpp
  src/OpenLoco/OpenLoco.cpp
  src/OpenLoco/Title.cpp
  src/OpenLoco/Title.h
  src/OpenLoco/Windows/Options.cpp
  src/OpenLoco/Windows/ToolbarTop.cpp
Labels: enhancement, pending review, refactor, changelog

#1646 Character limit label
  CHANGELOG.md
  data/language/en-GB.yml
  src/OpenLoco/Localisation/StringIds.h
  src/OpenLoco/Windows/TextInputWindow.cpp
Labels: enhancement, changelog
