Repository OpenLoco/OpenLoco, pull requests merged in 2023-04, with the labels that each got.

#1907 Hooking fixes
  CHANGELOG.md
  src/Interop/src/Hook.cpp
  src/Interop/src/Interop.cpp
Labels: changelog

#1911 Use game state structure for scenario construction globals
  src/OpenLoco/CMakeLists.txt
  src/OpenLoco/src/GameState.h
  src/OpenLoco/src/ScenarioConstruction.cpp
  src/OpenLoco/src/ScenarioConstruction.h
  src/OpenLoco/src/Windows/Construction/Common.cpp
  src/OpenLoco/src/Windows/Construction/Construction.h
  src/OpenLoco/src/Windows/Construction/ConstructionTab.cpp
  src/OpenLoco/src/Windows/Construction/OverheadTab.cpp
  src/OpenLoco/src/Windows/Construction/SignalTab.cpp
  src/OpenLoco/src/Windows/Construction/StationTab.cpp
Labels: pending review

#1929 Fix overlapping flag in Flags48 enum
  CHANGELOG.md
  src/OpenLoco/src/Vehicles/Vehicle.h
Labels: changelog

#1925 Implement Object::isCustom using map for vanilla objects
  CHANGELOG.md
  src/OpenLoco/CMakeLists.txt
  src/OpenLoco/src/Objects/Object.cpp
  src/OpenLoco/src/Objects/Object.h
  src/OpenLoco/src/S5/S5.cpp
Labels: changelog, testing required

#1928 Use the logging library more
  src/OpenLoco/src/Environment.cpp
  src/OpenLoco/src/Localisation/LanguageFiles.cpp
  src/OpenLoco/src/OpenLoco.cpp
Labels: pending review

#1933 Introduce object load error window
  CHANGELOG.md
  data/language/en-GB.yml
  src/OpenLoco/CMakeLists.txt
  src/OpenLoco/src/Localisation/StringIds.h
  src/OpenLoco/src/Objects/ObjectManager.cpp
  src/OpenLoco/src/Objects/ObjectManager.h
  src/OpenLoco/src/OpenLoco.cpp
  src/OpenLoco/src/S5/S5.cpp
  src/OpenLoco/src/S5/S5.h
  src/OpenLoco/src/Ui/WindowManager.h
  src/OpenLoco/src/Ui/WindowType.h
  src/OpenLoco/src/Windows/ObjectLoadError.cpp
Labels: pending review, changelog
