Repository OpenLoco/OpenLoco, pull requests merged in 2023-07, with the labels that each got.

#2015 Remove window event interop
  src/OpenLoco/src/Input/MouseInput.cpp
  src/OpenLoco/src/Window.cpp
  src/OpenLoco/src/Window.h
  src/OpenLoco/src/Windows/Vehicle.cpp
Labels: pending review

#2022 Implement the removeTown game command
  src/OpenLoco/CMakeLists.txt
  src/OpenLoco/src/GameCommands/GameCommands.cpp
  src/OpenLoco/src/GameCommands/GameCommands.h
  src/OpenLoco/src/GameCommands/RemoveTown.cpp
  src/OpenLoco/src/Localisation/StringIds.h
  src/OpenLoco/src/Ui/WindowManager.h
  src/OpenLoco/src/Windows/TownList.cpp
  src/OpenLoco/src/Windows/TownWindow.cpp
Labels: pending review

#2010 Implement the create wall game command
  src/Engine/include/OpenLoco/Engine/World.hpp
  src/OpenLoco/CMakeLists.txt
  src/OpenLoco/src/GameCommands/CreateWall.cpp
  src/OpenLoco/src/GameCommands/GameCommands.cpp
  src/OpenLoco/src/GameCommands/GameCommands.h
  src/OpenLoco/src/Localisation/StringIds.h
  src/OpenLoco/src/Map/TileClearance.cpp
  src/OpenLoco/src/Map/TileClearance.h
  src/OpenLoco/src/Map/WallElement.h
  src/OpenLoco/src/Objects/WallObject.cpp
  src/OpenLoco/src/Objects/WallObject.h
  src/OpenLoco/src/Windows/TerraForm.cpp
  src/OpenLoco/src/World/Industry.cpp
Labels: pending review

#2032 Fix breakpad
  CHANGELOG.md
  src/OpenLoco/CMakeLists.txt
  src/OpenLoco/src/OpenLoco.cpp
  src/Platform/CMakeLists.txt
  src/Platform/include/OpenLoco/Platform/Crash.h
  src/Platform/src/Crash.cpp
Labels: pending review, changelog

#2035 Fix incorrect industry clear heights when constructing
  CHANGELOG.md
  src/OpenLoco/src/Map/IndustryElement.cpp
Labels: changelog

#2038 Fix crash when loading objects from non ascii paths
  CHANGELOG.md
  src/OpenLoco/src/Objects/ObjectManager.cpp
Labels: changelog

#2039 Fix crash/hang when selecting newly available vehicle news
  CHANGELOG.md
  src/OpenLoco/src/Windows/News/News.cpp
Labels: changelog

#2042 Fix crash when DEP enabled
  CHANGELOG.md
  src/Interop/src/Hook.cpp
Labels: changelog

#2043 Change two log messages to verbose log level
  src/Interop/src/Hook.cpp
  src/OpenLoco/src/Graphics/Gfx.cpp
Labels: pending review

#2019 Allow scrolling up and down on steppers to change their values
  CHANGELOG.md
  src/OpenLoco/src/Ui/WindowManager.cpp
Labels: pending review, changelog

#2044 Fix error message for object selection failure
  CHANGELOG.md
  src/OpenLoco/src/Windows/ObjectSelectionWindow.cpp
Labels: changelog
