Repository OpenLoco/OpenLoco, pull requests merged in 2023-10, with the labels that each got.

#2052 Various Company Ai Functions
  src/Engine/include/OpenLoco/Engine/World.hpp
  src/OpenLoco/src/GameCommands/GameCommands.h
  src/OpenLoco/src/Vehicles/VehicleHead.cpp
  src/OpenLoco/src/World/Company.cpp
  src/OpenLoco/src/World/Company.h
  src/OpenLoco/src/World/CompanyAi.cpp
  src/OpenLoco/src/World/CompanyAi.h
  src/OpenLoco/src/World/CompanyManager.cpp
  src/OpenLoco/src/World/CompanyManager.h
  src/OpenLoco/src/World/Station.cpp
  src/OpenLoco/src/World/Station.h
Labels: pending review

#2155 Fix issue with std algos and signed/unsigned types
  CHANGELOG.md
  src/OpenLoco/src/GameCommands/Company/RenameCompanyOwner.cpp
Labels: changelog

#2148 Add filters to Build Vehicle window
  CHANGELOG.md
  data/language/en-GB.yml
  src/OpenLoco/src/Input/Keyboard.cpp
  src/OpenLoco/src/Localisation/StringIds.h
  src/OpenLoco/src/Ui/WindowManager.h
  src/OpenLoco/src/Windows/BuildVehicle.cpp
  src/OpenLoco/src/Windows/ObjectSelectionWindow.cpp
Labels: pending review

#2152 fix news crashing
  CHANGELOG.md
  src/OpenLoco/src/Windows/News/Common.cpp
Labels: bug, changelog

#2151 add cheat to remove station loading penalty
  CHANGELOG.md
  data/language/en-GB.yml
  src/OpenLoco/src/Config.cpp
  src/OpenLoco/src/Config.h
  src/OpenLoco/src/Localisation/StringIds.h
  src/OpenLoco/src/Vehicles/VehicleHead.cpp
  src/OpenLoco/src/Windows/Cheats.cpp
Labels: feature, pending review, changelog, cheat

#2164 Split road connections function
  src/OpenLoco/src/Map/Track/Track.cpp
  src/OpenLoco/src/Map/Track/Track.h
  src/OpenLoco/src/Windows/Construction/ConstructionTab.cpp
Labels: pending review
