Repository OpenLoco/OpenLoco, pull requests merged in 2024-10, with the labels that each got.

#2650 Object Index Redesign
  CHANGELOG.md
  src/OpenLoco/src/Environment.cpp
  src/OpenLoco/src/Environment.h
  src/OpenLoco/src/GameCommands/Company/RenameCompanyOwner.cpp
  src/OpenLoco/src/Objects/ObjectIndex.cpp
  src/OpenLoco/src/Objects/ObjectIndex.h
  src/OpenLoco/src/Objects/ObjectManager.cpp
  src/OpenLoco/src/Objects/ObjectManager.h
  src/OpenLoco/src/Scenario.cpp
  src/OpenLoco/src/Windows/CompanyFaceSelection.cpp
  src/OpenLoco/src/Windows/ObjectSelectionWindow.cpp
  src/OpenLoco/src/Windows/Options.cpp
  src/OpenLoco/src/World/CompanyManager.cpp
Labels: changelog

#2646 Implement chart/graph drawing
  src/OpenLoco/CMakeLists.txt
  src/OpenLoco/src/Economy/Economy.cpp
  src/OpenLoco/src/Economy/Economy.h
  src/OpenLoco/src/Localisation/StringIds.h
  src/OpenLoco/src/Ui/Chart.cpp
  src/OpenLoco/src/Ui/Chart.h
  src/OpenLoco/src/Ui/Windows/CompanyList.cpp
Labels: pending review

#2666 Allow resizing company charts
  CHANGELOG.md
  src/OpenLoco/src/Ui/Windows/CompanyList.cpp
  src/OpenLoco/src/Ui/Windows/MapWindow.cpp
Labels: pending review, changelog

#2658 Fix track/trackAddition paint issues
  CHANGELOG.md
  src/OpenLoco/src/Paint/Paint.cpp
Labels: changelog

#2679 Implement TileManager::countNearbyWaterTiles
  src/OpenLoco/src/Map/TileManager.cpp
Labels: pending review
