Repository OpenLoco/OpenLoco, pull requests merged in 2024-09, with the labels that each got.

#2597 Add riverbeds to map generator
  CHANGELOG.md
  data/language/en-GB.yml
  src/OpenLoco/src/EditorController.cpp
  src/OpenLoco/src/Localisation/StringIds.h
  src/OpenLoco/src/Map/MapGenerator/MapGenerator.cpp
  src/OpenLoco/src/S5/S5.h
  src/OpenLoco/src/Scenario.h
  src/OpenLoco/src/Windows/LandscapeGeneration.cpp
Labels: changelog

#2615 Adjust OriginalTerrainGenerator to adhere to heightMap dimensions
  CHANGELOG.md
  src/OpenLoco/src/Map/MapGenerator/HeightMap.h
  src/OpenLoco/src/Map/MapGenerator/MapGenerator.cpp
  src/OpenLoco/src/Map/MapGenerator/OriginalTerrainGenerator.cpp
Labels: pending review, changelog

#2619 Fix level crossing animations with track, road, tram combo
  CHANGELOG.md
  src/OpenLoco/src/Map/RoadElement.cpp
Labels: changelog

#2618 Fix drawing of reversed car components in vehicle window
  CHANGELOG.md
  src/OpenLoco/src/Vehicles/VehicleDraw.cpp
Labels: changelog

#2617 Increment progress bar for generateTerrain substeps
  CHANGELOG.md
  src/OpenLoco/src/Map/MapGenerator/MapGenerator.cpp
Labels: changelog

#2625 Fix crash when resizing window during preloader
  CHANGELOG.md
  src/OpenLoco/src/Graphics/SoftwareDrawingContext.cpp
  src/OpenLoco/src/Graphics/SoftwareDrawingContext.h
  src/OpenLoco/src/Graphics/SoftwareDrawingEngine.cpp
  src/OpenLoco/src/Graphics/SoftwareDrawingEngine.h
  src/OpenLoco/src/Intro.cpp
  src/OpenLoco/src/Ui.cpp
  src/OpenLoco/src/Windows/ProgressBar.cpp
Labels: changelog

#2623 Fix crash when constructing underground
  CHANGELOG.md
  src/OpenLoco/src/GameCommands/Road/CreateRoad.h
  src/OpenLoco/src/Paint/Paint.cpp
  src/OpenLoco/src/Windows/Construction/ConstructionTab.cpp
Labels: changelog

#2630 Name cursor globals in MouseInput
  src/OpenLoco/src/Input.h
  src/OpenLoco/src/Input/MouseInput.cpp
  src/OpenLoco/src/Windows/ObjectSelectionWindow.cpp
  src/OpenLoco/src/Windows/Options.cpp
Labels: pending review

#2639 Introduce GraphSettings struct
  src/OpenLoco/src/Windows/CompanyList.cpp
Labels: pending review

#2629 Group object selection tabs by category
  CHANGELOG.md
  src/OpenLoco/src/Ui/Window.h
  src/OpenLoco/src/Windows/MapWindow.cpp
  src/OpenLoco/src/Windows/ObjectSelectionWindow.cpp
  src/OpenLoco/src/Windows/TimePanel.cpp
Labels: changelog

#2645 Change TimePanel window width to match widgets
  src/OpenLoco/src/Windows/TimePanel.cpp
Labels: pending review, squash merge

#2633 Implement TownManager::initialiseTown
  src/OpenLoco/src/GameCommands/Town/CreateTown.cpp
  src/OpenLoco/src/World/Town.h
  src/OpenLoco/src/World/TownManager.cpp
  src/OpenLoco/src/World/TownManager.h
Labels: pending review
