Repository OpenLoco/OpenLoco, pull requests merged in 2025-05, with the labels that each got.

#3092 Improve invalidation for station drag selection
  src/OpenLoco/src/Ui/Windows/Construction/ConstructionTab.cpp
  src/OpenLoco/src/Ui/Windows/Construction/StationTab.cpp
Labels: changelog

#3087 Allow replacing existing station elements directly
  CHANGELOG.md
  src/OpenLoco/src/GameCommands/Road/CreateRoadStation.cpp
  src/OpenLoco/src/GameCommands/Track/CreateTrainStation.cpp
  src/OpenLoco/src/Ui/Windows/Construction/StationTab.cpp
Labels: changelog

#3096 Prevent building removal by age in scenario editor
  CHANGELOG.md
  src/OpenLoco/src/Map/BuildingElement.cpp
Labels: pending review, changelog

#2897 Recolor individual vehicles
  CHANGELOG.md
  CONTRIBUTORS.md
  data/language/en-GB.yml
  src/OpenLoco/CMakeLists.txt
  src/OpenLoco/src/GameCommands/GameCommands.cpp
  src/OpenLoco/src/GameCommands/GameCommands.h
  src/OpenLoco/src/GameCommands/Vehicles/VehicleRepaint.cpp
  src/OpenLoco/src/GameCommands/Vehicles/VehicleRepaint.h
  src/OpenLoco/src/Localisation/StringIds.h
  src/OpenLoco/src/Types.hpp
  src/OpenLoco/src/Ui/Windows/Vehicle.cpp
Labels: enhancement-major, changelog
