Repository OpenLoco/OpenLoco, pull requests merged in 2025-01, with the labels that each got.

#2822 Improve performance of collision checks
  CHANGELOG.md
  src/OpenLoco/src/Vehicles/Vehicle.cpp
Labels: changelog

#2790 Implement Company Ai: AiAllocated Station Stats
  src/Core/include/OpenLoco/Core/LocoFixedVector.hpp
  src/OpenLoco/src/Map/TileLoop.hpp
  src/OpenLoco/src/World/Company.h
  src/OpenLoco/src/World/CompanyAi.cpp
  src/OpenLoco/src/World/CompanyAi.h
Labels: pending review

#2829 Avoid expensive copies to texture when scaling isn't applied
  CHANGELOG.md
  src/OpenLoco/src/Graphics/SoftwareDrawingEngine.cpp
Labels: changelog

#2836 Fix station glass drawing issues
  CHANGELOG.md
  src/OpenLoco/src/Paint/Paint.cpp
Labels: changelog

#2826 Fix #2818. Incorrect bridge segment
  CHANGELOG.md
  src/OpenLoco/src/Paint/PaintBridge.cpp
Labels: changelog

#2816 Add Swedish language file
  CHANGELOG.md
  CONTRIBUTORS.md
  data/language/sv-SE.yml
Labels: localisation

#2853 Fix #2613. Crash when unpacking objects
  CHANGELOG.md
  src/OpenLoco/src/Environment.cpp
  src/OpenLoco/src/S5/S5.cpp
Labels: changelog
