Repository OpenLoco/OpenLoco, pull requests merged in 2025-03, with the labels that each got.

#2976 Name Window::var_842
  src/OpenLoco/src/Ui/Window.h
  src/OpenLoco/src/Ui/Windows/TileInspector.cpp
  src/OpenLoco/src/Ui/Windows/Vehicle.cpp
Labels: pending review, refactor

#2973 Fix more messages getting the wrong vehicle name
  CHANGELOG.md
  src/OpenLoco/src/MessageManager.cpp
Labels: changelog

#2977 Add an enum for track mod section
  src/OpenLoco/CMakeLists.txt
  src/OpenLoco/src/GameCommands/Road/CreateRoadMod.h
  src/OpenLoco/src/GameCommands/Road/RemoveRoadMod.h
  src/OpenLoco/src/GameCommands/Track/CreateTrackMod.h
  src/OpenLoco/src/GameCommands/Track/RemoveTrackMod.h
  src/OpenLoco/src/Map/Track/TrackModSection.h
  src/OpenLoco/src/Ui/WindowManager.h
  src/OpenLoco/src/Ui/Windows/Construction/Common.cpp
  src/OpenLoco/src/Ui/Windows/Construction/Construction.h
  src/OpenLoco/src/Ui/Windows/Construction/OverheadTab.cpp
  src/OpenLoco/src/Vehicles/Routing.cpp
  src/OpenLoco/src/Vehicles/Vehicle.h
  src/OpenLoco/src/World/CompanyAi.cpp
Labels: refactor

#3043 Fix reliability penalty not being removed for newly designed vehicles
  .github/workflows/ci.yml
  CHANGELOG.md
  src/OpenLoco/src/GameCommands/Vehicles/CreateVehicle.cpp
Labels: changelog

#2990 Rename several unnamed vehicle properties
  src/OpenLoco/src/GameCommands/Vehicles/CreateVehicle.cpp
  src/OpenLoco/src/Objects/VehicleObject.h
  src/OpenLoco/src/Paint/PaintVehicle.cpp
  src/OpenLoco/src/Vehicles/Vehicle.h
  src/OpenLoco/src/Vehicles/Vehicle2.cpp
  src/OpenLoco/src/Vehicles/VehicleBody.cpp
  src/OpenLoco/src/Vehicles/VehicleDraw.cpp
Labels: refactor

#3047 Update objects version to v0.1.3
  CHANGELOG.md
  CMakeLists.txt
Labels: changelog, game object
