Repository OpenLoco/OpenLoco, pull requests merged in 2025-04, with the labels that each got.

#3067 Fix #1232: Update viewports after rendering current dirty regions
  CHANGELOG.md
  src/OpenLoco/src/Graphics/SoftwareDrawingEngine.cpp
  src/OpenLoco/src/Graphics/SoftwareDrawingEngine.h
  src/OpenLoco/src/Ui.cpp
  src/OpenLoco/src/Ui/Window.cpp
Labels: changelog

#3068 Fix missing outline for construction button
  CHANGELOG.md
  src/OpenLoco/src/Ui/Windows/Construction/ConstructionTab.cpp
Labels: changelog

#3072 Rename tool drag events
  src/OpenLoco/src/Input/MouseInput.cpp
  src/OpenLoco/src/Ui/Window.cpp
  src/OpenLoco/src/Ui/Window.h
  src/OpenLoco/src/Ui/Windows/TerraForm.cpp
Labels: pending review

#3073 Allow dragging the construction tool to build
  CHANGELOG.md
  src/OpenLoco/src/Map/MapSelection.cpp
  src/OpenLoco/src/Map/MapSelection.h
  src/OpenLoco/src/Ui/Windows/Construction/Construction.h
  src/OpenLoco/src/Ui/Windows/Construction/ConstructionTab.cpp
  src/OpenLoco/src/Ui/Windows/Construction/OverheadTab.cpp
  src/OpenLoco/src/Ui/Windows/Construction/SignalTab.cpp
  src/OpenLoco/src/Ui/Windows/Construction/StationTab.cpp
  src/OpenLoco/src/Ui/Windows/TerraForm.cpp
Labels: changelog, pending testing

#3081 List vehicles calling at station in station window
  CHANGELOG.md
  src/OpenLoco/src/Ui/WindowManager.h
  src/OpenLoco/src/Ui/Windows/StationWindow.cpp
  src/OpenLoco/src/Ui/Windows/VehicleList.cpp
Labels: changelog, pending testing
