Repository OpenLoco/OpenLoco, pull requests merged in 2025-02, with the labels that each got.

#2868 Fix #2864: News messages are drawn incorrectly
  CHANGELOG.md
  src/OpenLoco/src/Graphics/TextRenderer.cpp
  src/OpenLoco/src/Ui/Windows/News/News.cpp
Labels: changelog

#2924 Refactor how it handles mouse movement
  CHANGELOG.md
  src/OpenLoco/src/Input.h
  src/OpenLoco/src/Input/MouseInput.cpp
  src/OpenLoco/src/OpenLoco.cpp
Labels: changelog

#2880 Fix #2876: Screen freezes when lowering scale back to 1.0
  CHANGELOG.md
  src/OpenLoco/src/Graphics/SoftwareDrawingEngine.cpp
Labels: changelog

#2938 Fix incorrect error window frame size when competitor image is shown
  CHANGELOG.md
  src/OpenLoco/src/Ui/Windows/Error.cpp
Labels: changelog

#2681 Road placement
  src/OpenLoco/CMakeLists.txt
  src/OpenLoco/src/GameCommands/GameCommands.cpp
  src/OpenLoco/src/GameCommands/Road/CreateRoad.cpp
  src/OpenLoco/src/GameCommands/Road/CreateRoad.h
  src/OpenLoco/src/Localisation/StringIds.h
  src/OpenLoco/src/Map/RoadElement.h
  src/OpenLoco/src/Map/TileManager.cpp
  src/OpenLoco/src/Map/TileManager.h
  src/OpenLoco/src/Map/Track/TrackEnum.h
  src/OpenLoco/src/Ui/Windows/Construction/ConstructionTab.cpp
  src/OpenLoco/src/World/CompanyAi.cpp
  src/OpenLoco/src/World/Town.cpp
Labels: reverse-engineering

#2943 Implement vehicle map route interaction
  CHANGELOG.md
  src/OpenLoco/src/Localisation/StringIds.h
  src/OpenLoco/src/Ui/ViewportInteraction.h
  src/OpenLoco/src/Ui/Windows/Vehicle.cpp
Labels: bug-openloco, changelog

#2963 Fix #2764: Don't pass around a stale widget pointer
  CHANGELOG.md
  src/OpenLoco/src/Input/MouseInput.cpp
Labels: changelog

#2930 Restrict sandbox mode exceptions to player companies
  CHANGELOG.md
  src/OpenLoco/src/GameCommands/Buildings/RemoveBuilding.cpp
Labels: changelog
